# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
*.so

# Virtual Environment
venv/
env/
.venv/
.env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data files (terlalu besar untuk GitHub)
submission/data/
data/
*.zip

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo

# Streamlit
.streamlit/secrets.toml

# Logs
*.log
